<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Springstaram</title>
	<link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="ss-container">
	<div class="ss-title">
		Springstaram
		<button class="ss-write btn btn-primary">
			사진등록
		</button>
	</div>
	<ul class="ss-photos row">
		<li class="col-md-3">
			<div class="ss-photo-item">
				<div class="ss-photo"
					style="background-image:url(/img/Penguins.jpg)">
				</div>
				<div class="ss-text">
					<div class="ss-photo-name">사진이름</div>
					<div class="ss-photo-content">사진설명</div>
					<div class="ss-photo-buttons">
						<div class="ss-btn">
							좋아요 20
						</div>
						<div class="ss-btn ss-btn-comments">
							댓글 2
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="col-md-3">
			<div class="ss-photo-item">
				<div class="ss-photo"
					style="background-image:url(/img/Penguins.jpg)">
				</div>
				<div class="ss-text">
					<div class="ss-photo-name">사진이름</div>
					<div class="ss-photo-content">사진설명</div>
					<div class="ss-photo-buttons">
						<div class="ss-btn">
							좋아요 20
						</div>
						<div class="ss-btn ss-btn-comments">
							댓글 2
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="col-md-3">
			<div class="ss-photo-item">
				<div class="ss-photo"
					style="background-image:url(/img/Penguins.jpg)">
				</div>
				<div class="ss-text">
					<div class="ss-photo-name">사진이름</div>
					<div class="ss-photo-content">사진설명</div>
					<div class="ss-photo-buttons">
						<div class="ss-btn">
							좋아요 20
						</div>
						<div class="ss-btn ss-btn-comments">
							댓글 2
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="col-md-3">
			<div class="ss-photo-item">
				<div class="ss-photo"
					style="background-image:url(/img/Penguins.jpg)">
				</div>
				<div class="ss-text">
					<div class="ss-photo-name">사진이름</div>
					<div class="ss-photo-content">사진설명</div>
					<div class="ss-photo-buttons">
						<div class="ss-btn">
							좋아요 20
						</div>
						<div class="ss-btn ss-btn-comments">
							댓글 2
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="col-md-3">
			<div class="ss-photo-item">
				<div class="ss-photo"
					style="background-image:url(/img/Penguins.jpg)">
				</div>
				<div class="ss-text">
					<div class="ss-photo-name">사진이름</div>
					<div class="ss-photo-content">사진설명</div>
					<div class="ss-photo-buttons">
						<div class="ss-btn">
							좋아요 20
						</div>
						<div class="ss-btn ss-btn-comments">
							댓글 2
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="col-md-3">
			<div class="ss-photo-item">
				<div class="ss-photo"
					style="background-image:url(/img/Penguins.jpg)">
				</div>
				<div class="ss-text">
					<div class="ss-photo-name">사진이름</div>
					<div class="ss-photo-content">사진설명</div>
					<div class="ss-photo-buttons">
						<div class="ss-btn">
							좋아요 20
						</div>
						<div class="ss-btn ss-btn-comments">
							댓글 2
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

<script src="https://unpkg.com/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>