<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Springstaram</title>
	<link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="ss-container">
	<div class="ss-title">
		Springstaram
		<button class="ss-write btn btn-primary">
			사진등록
		</button>
	</div>
	<ul class="ss-photos row">
	</ul>
</div>

<script id="photo-template" type="text/x-handlebars-template">
	<li class="col-md-3" photo-id="<%id%>">
		<div class="ss-photo-item">
			<div class="ss-photo"
				style="background-image:url(<%img%>)">
			</div>
			<div class="ss-text">
				<div class="ss-photo-name"><%name%></div>
				<div class="ss-photo-content"><%content%></div>
				<div class="ss-photo-buttons">
					<div class="ss-btn ss-btn-likes">
						좋아요 <%likes%>
					</div>
					<div class="ss-btn ss-btn-comments">
						댓글 0
					</div>
				</div>
			</div>
		</div>
	</li>
</script>

<script src="https://unpkg.com/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/handlebars@4.0.10/dist/handlebars.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>