<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Springstaram</title>
	<link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/write.css">
</head>
<body>
<div class="ss-container">
	<div class="ss-title">
		Springstaram
	</div>
	<div class="ss-write-row">
		<input id="ss-write-photo" type="file" class="ss-file-input">
		<button for="ss-write-photo" class="ss-file-select btn btn-default">파일선택</button>
	</div>
	<div class="ss-write-preview">
	</div>
	<div class="ss-write-row">
		<input id="ss-write-name" type="text" class="form-control" placeholder="사진제목">
	</div>
	<div class="ss-write-row">
		<textarea id="ss-write-content" class="form-control" placeholder="사진내용"></textarea>
	</div>
	<div class="ss-buttons">
		<button class="ss-save btn btn-success">저장</button>
	</div>
</div>

<script src="https://unpkg.com/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="/js/write.js"></script>
</body>
</html>









